@use 'sass:map';
@import 'light-palette';

$primary-darkest: map.get($primary-palette, 900);
$primary-darker: map.get($primary-palette, 800);
$primary-dark: map.get($primary-palette, 700);
$primary: map.get($primary-palette, 500);
$primary-light: map.get($primary-palette, 300);
$primary-lighter: map.get($primary-palette, 200);
$primary-lightest: map.get($primary-palette, 100);

$accent-darkest: map.get($accent-palette, 900);
$accent-darker: map.get($accent-palette, 800);
$accent-dark: map.get($accent-palette, 700);
$accent: map.get($accent-palette, 500);
$accent-light: map.get($accent-palette, 300);
$accent-lighter: map.get($accent-palette, 200);
$accent-lightest: map.get($accent-palette, 100);

$danger: map.get($warning-palette, 500);
$danger-lightest: map.get($warning-palette, 100);

$white: #fffdfa;
$black: #070606;
